article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/*================ variables ================*/
header h2 {
  line-height: 40px; }

#top-nav {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0 auto; }
  #top-nav p:first-child {
    margin-right: 30px; }
  #top-nav p, #top-nav a {
    font-family: "helvetica", "arial", sans-serif;
    display: inline-block;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 1px;
    font-size: 12px;
    font-size: 0.75rem; }

.hashtag {
  text-align: right; }

#main-nav {
  min-height: 60px;
  margin: 0 auto; }
  #main-nav > .row {
    display: block;
    font-size: 0; }
  #main-nav .nav {
    display: block;
    text-align: center; }
    #main-nav .nav li {
      display: inline-block; }
      #main-nav .nav li:first-child > a {
        margin-left: 0; }
      #main-nav .nav li:last-child > a {
        margin-right: 0; }

#main-nav .nav a {
  font-family: "Libre Baskerville", serif;
  margin: 0 25px;
  font-style: italic;
  display: inline-block;
  line-height: 60px;
  text-transform: lowercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-size: 0.75rem; }

#hero {
  position: relative;
  z-index: 5;
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/hero-min.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  #hero .hero-text {
    font-weight: 400;
    line-height: 100px;
    position: absolute;
    letter-spacing: 4.26829px;
    top: 55%;
    left: 0;
    right: 0;
    color: #fff;
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 70px;
    font-size: 4.375rem; }

/*================ mobile nav ================*/
.mobile-nav.nav {
  height: 100vh; }
  .mobile-nav.nav li {
    padding: 15px 0;
    text-align: center;
    height: 12.5vh; }
    .mobile-nav.nav li a {
      font-family: "Libre Baskerville", serif;
      line-height: 55px;
      font-size: 17px;
      font-size: 1.0625rem; }

.toggle-nav {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
  z-index: 15;
  overflow: hidden; }
  .toggle-nav:hover, .toggle-nav:focus {
    cursor: pointer; }
  .toggle-nav .menu-bar {
    position: absolute;
    border-radius: 1px;
    width: 80%;
    -webkit-transition: .5s;
    transition: .5s; }
  .toggle-nav .menu-bar-top {
    border: 2px solid #bbb;
    border-bottom: none;
    top: 2px; }
  .toggle-nav .menu-bar-middle {
    height: 2px;
    background-color: #bbb;
    margin-top: 10px; }
  .toggle-nav .menu-bar-bottom {
    border: 2px solid #bbb;
    border-top: none;
    top: 18px; }

.menu-wrap {
  background-color: white;
  position: fixed;
  top: 0;
  right: -260px;
  height: 100vh;
  width: 260px;
  overflow: auto;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 5px 2px lightgrey;
          box-shadow: 1px 1px 5px 2px lightgrey; }

.menu-show {
  right: 0;
  overflow: hidden; }

.button-open .menu-bar-top {
  -webkit-transform: rotate(47deg) translate(8px, 7px);
          transform: rotate(47deg) translate(8px, 7px);
  -webkit-transition: .5s;
  transition: .5s; }

.button-open .menu-bar-middle {
  -webkit-transform: translate(230px);
          transform: translate(230px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1; }

.button-open .menu-bar-bottom {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: .5s;
  transition: .5s; }

#panel {
  position: relative;
  z-index: 10; }

/*================ couple-names ================*/
.couple-namecard {
  position: relative;
  height: 100vh;
  width: 100%; }
  .couple-namecard .leaf1 {
    width: 900px;
    bottom: -30px;
    left: -260px;
    -webkit-transform: rotate(194deg);
            transform: rotate(194deg);
    position: absolute; }
  .couple-namecard .leaf2 {
    width: 900px;
    top: -117px;
    right: -46px;
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
    position: absolute; }
  .couple-namecard .leaf3 {
    width: 750px;
    top: -245px;
    left: -180px;
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
    position: absolute; }
  .couple-namecard .leaf4 {
    width: 750px;
    bottom: -135px;
    right: -100px;
    -webkit-transform: rotate(-9deg);
            transform: rotate(-9deg);
    position: absolute; }

.namecard-container {
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  position: relative;
  max-width: 667px;
  padding: 60px 80px;
  height: 356px;
  top: 50%; }

.namecard-bg {
  margin: 8px;
  max-width: 800px;
  background-image: url("../../assets/gold-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px; }
  .namecard-bg > img {
    border-radius: 2px;
    margin: 8px; }

.namecard-color {
  text-align: center;
  margin: 4px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.namecard-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 20px; }
  .namecard-text h2 {
    letter-spacing: 3.98276px; }
  .namecard-text h3 {
    line-height: 72px;
    font-size: 21px;
    font-size: 1.3125rem; }

.wedding-details {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
  width: 100%; }
  .wedding-details a {
    line-height: 16px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem; }
  .wedding-details h2 {
    letter-spacing: 3.9px;
    padding: 20px 0; }

/*================ about-couple ================*/
.about-couple .row:first-child .inner-half {
  padding-bottom: 25px; }

.about-couple .inner-half {
  padding: 85px 0; }
  .about-couple .inner-half > p {
    padding: 10% 20%; }
  .about-couple .inner-half > .inner-img {
    padding: 60px;
    border-right: 2px solid #fff;
    text-align: center; }
    .about-couple .inner-half > .inner-img img {
      max-width: 146px;
      width: 60%;
      padding-bottom: 15px; }
    .about-couple .inner-half > .inner-img h2 {
      color: #fff; }
    .about-couple .inner-half > .inner-img p {
      line-height: 16px;
      font-size: 16px;
      text-shadow: none;
      letter-spacing: 3px;
      padding-top: 10px; }
  .about-couple .inner-half p {
    font-size: 19px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }

.about-couple.bg-color {
  background: #6CB35D; }

/*================ couple-initials ================*/
.couple-initials {
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .couple-initials .namecard-container {
    width: 30%;
    min-width: 200px;
    height: 130px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    position: relative;
    padding: 20px 40px;
    top: 57%; }
  .couple-initials .leaf1 {
    width: 892px;
    left: -170px;
    bottom: -240px;
    -webkit-transform: matrix(-0.82, -0.57, -0.57, 0.82, 0, 0);
            transform: matrix(-0.82, -0.57, -0.57, 0.82, 0, 0);
    position: absolute; }
  .couple-initials .leaf2 {
    bottom: -30px;
    right: -90px;
    width: 1000px;
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
    position: absolute; }

/*================ couple-img ================*/
.couple-img {
  background-image: url("../../assets/endimg-min.png");
  background-position: top center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

#footer .nav {
  margin: 10px 0 16px 0; }
  #footer .nav li {
    display: inline-block;
    margin: 0 11px; }
    #footer .nav li:first-of-type {
      margin-left: 0; }

#footer #legal-terms {
  float: left; }

#footer #slogan p {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
  color: #000;
  text-align: right;
  letter-spacing: 1px;
  text-transform: lowercase; }

#footer a,
#footer p {
  line-height: 14px;
  font-family: "helvetica", "arial", sans-serif;
  color: #808080;
  font-size: 12px;
  font-size: 0.75rem; }

#zola-logo {
  background-image: url("../../assets/zola-logo-minimal.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  min-height: 60px;
  margin: 0 auto; }

/*================ large to small ================*/
@media only screen and (min-width: 1825px) {
  #hero .hero-text {
    top: 65%; } }

@media all and (max-width: 736px) {
  .hidden-md-down {
    display: none !important; }
  #footer #slogan p {
    line-height: 27px;
    text-align: center;
    font-size: 22px;
    padding-top: 15px; }
  h2,
  .wedding-details h2,
  .inner-img h2 {
    font-size: 24px;
    line-height: 45px; }
  .couple-names h2 {
    font-size: 15px;
    line-height: 45px;
    text-align: left;
    margin-left: 10px; }
  .namecard-container {
    width: 65%; }
    .namecard-container h2 {
      line-height: 50px;
      font-size: 20px; }
  .about-couple .inner-half > p,
  .about-couple .inner-half {
    padding: 25px 0; }
  .about-couple .row:first-child .inner-half > p {
    padding: 0; }
  .about-couple .row .inner-half .inner-img {
    padding: 0;
    border-right: none; } }

@media all and (max-width: 480px) {
  .hidden-xs-down {
    display: none; }
  .toggle-nav {
    display: block; }
  #main-nav {
    display: none; }
  #hero {
    background: url("../../assets/couple-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 300px;
    width: 100%; }
    #hero .hero-text {
      line-height: 31px;
      font-size: 19px; }
  .namecard-container {
    width: 85%;
    padding-right: 10px;
    padding-left: 10px; }
  .couple-namecard .leaf3 {
    width: 500px;
    top: -15%;
    left: -100px; }
  .couple-namecard .leaf4 {
    width: 500px;
    bottom: 10%;
    right: -83px;
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }
  .wedding-details {
    padding-top: 50px;
    padding-bottom: 50px; }
  .couple-initials .namecard-container {
    top: 50%; }
  .couple-initials .leaf2 {
    right: -190px;
    width: 500px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    bottom: 20px; }
  .couple-initials .leaf1 {
    width: 400px;
    left: -170px;
    bottom: -40px; }
  .couple-img {
    background-image: url("../../assets/couple-img2-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    min-height: 300px;
    width: 100%; }
  #bottom-nav .nav {
    text-align: center; } }

/*================ base styles ================*/
html {
  font-size: 14px; }

body {
  font-family: "Josefin Sans", sans-serif;
  background: #fff;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  font-size: 0.875rem; }

h2 {
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
  color: #000;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 5px;
  text-align: center;
  font-size: 42px;
  font-size: 2.625rem; }

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  a:hover, a:focus {
    color: #01b4c0; }

h3 {
  font-style: italic;
  text-transform: lowercase;
  font-weight: 400;
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  font-size: 1rem; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

.wrapper {
  overflow: hidden; }

ul {
  list-style: none; }

footer {
  padding: 40px 0; }
