/*================ variables ================*/
// font
$base-font-family: 'Josefin Sans', sans-serif;
$header-font-family: 'Libre Baskerville', serif;
$sans-serif: 'helvetica', 'arial', sans-serif;

// colour
$dark-green: #6CB35D;
$light-green: #BAE1B2;
$blue: #A5E0EE;
$white: #fff;
$black: #000;
$light-grey: #808080;
$accent-color: #01b4c0;

// // breakpoints
$break-mobile: 480px;
$break-mobile-landscape: 568px;
$break-tablet: 736px;
$min-large: 1200px;
$max-large: 1825px;

@function calculate-rem($size) {
	$rem-size: $size / 16px;
	@return $rem-size * 1rem;
}

// mixins
@mixin font-size($size) {
	font-size: $size;
	font-size: calculate-rem($size);
}