// variables and utility
@import "partials/_normalize.scss";
@import "partials/_base.scss";

// partials
@import "partials/_header.scss";
@import "partials/_sections.scss";
@import "partials/_footer.scss";
@import "partials/_media-queries.scss";


/*================ base styles ================*/
html {
	font-size: 14px;
}

body {
	font-family: $base-font-family;
	background: $white;
	font-weight: 400;
	color: $black;

	@include font-size(14px);
}

h2 {
	font-weight: 400;
	line-height: 72px;
	text-transform: uppercase;
	color: $black;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 5px;
	text-align: center;

	@include font-size(42px);
}

a {
	text-decoration: none;
	color: $black;
	transition: 0.2s all ease;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

h3 {
	font-style: italic;
	text-transform: lowercase;
	font-weight: 400;
	color: $black;
	font-family: 'Libre Baskerville', serif;

	@include font-size(16px);
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.wrapper {
	overflow:hidden;
}

ul {
	list-style: none;
}

footer {
	padding: 40px 0;
}